terraform {
  backend "s3" {
    bucket         = "REPLACE_WITH_STATE_BUCKET_NAME"
    key            = "w8/cdo-terraform/terraform.tfstate"
    region         = "ap-southeast-1"
    dynamodb_table = "REPLACE_WITH_LOCK_TABLE_NAME"
    encrypt        = true
  }
}
